{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "$": true,
    "cordova": true,
    "ble": true,
    "BackgroundGeolocation": true,
    "AndroidFullScreen": true,
    "universalLinks": true,
    "nodejs": true,
    "navigator": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-cond-assign": "off",
    "no-console": "off",
    "no-empty": "warn",
    "no-extra-semi": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "no-redeclare": "warn",
    "no-unexpected-multiline": "warn",
    "no-unused-vars": "warn",
    "no-useless-escape": "warn",
    "no-case-declarations": "off"
  }
}